<!DOCTYPE html>
<html>
<head>
    <title>客户中心</title>
    <link rel='stylesheet' href='../stylesheets/customelist.css' />
    <meta name="viewport" content="inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
</head>
<body>

<%if(hasBind==false){%>
<div class="no-bind" style="margin-top: 200px;">
    <div>
        每天都要用的
    </div>
    <div>
        就选最方便的
    </div>
    <div>
        节省下来的时间发发呆也好
    </div>
    <div>
        拥有“助手”
    </div>
    <div>
        拨打电话
    </div>
    <div>
        拥有“助手”
    </div>
    <div style="font-size: 50px;color:rebeccapurple;">
        40080011111
    </div>
    <div  style="font-size: 50px;color:orchid;">
        Say：“哈罗”
    </div>
</div>
<%}else{%>

<div class="search-title">
    <div class="search-title-date" style="width: 45%;text-align: center;">
      <!--  <img src="../images/date-icon.png" class="search-title-img">-->
        <input type="date" id="startDate" class="search-title-date-input" value="<%=startDate%>" onchange="changedata(this)"/>
    </div>
    <div class="search-title-mid">至</div>
    <div class="search-title-date" style="width: 42%; text-align: center;">
       <!-- <img src="../images/date-icon.png" class="search-title-img">-->
        <input type="date" id="endDate" class="search-title-date-input" value="<%=endDate%>" onchange="changedata(this)"/>
    </div>
</div>
<div class="search-body" style="margin: 10px;overflow: auto;position: absolute;top:121px; bottom: 0px;left: 0px; right: 0px;">
    <%if(datalist.length>0&&datalist!='null'){datalist.forEach(function(data){ %>
    <div class="search-body-root">
        <div class="search-body-div">
            <img style="width:100px;height:100px;" src="<%=data.logo%>"/>
        </div>
         <div style="display: inline-block;width: 85%;" dataid='<%=data.id%>' onclick="navtodeail(this)">
             <div class="search-body-font">
                 <%=data.name%>
             </div>
             <div class="search-body-right" style="<%=data.DataStatus?'':'color:#333;'%>">
                 <span style="line-height:100px;" > <%=data.DataStatus?"不完整  >":">"%></span>
             </div>
         </div>
    </div>
    <% }) }else{%>

    <div class="search-body-root" style="font-size: 45px;padding-top:50px;line-height: 300px; text-align:center;">
        您还没有客户哦，加油！
    </div>
    <%}%>
</div>

<%}%>
<script type="application/javascript">
    function navtodeail(thisobj) {
        window.location.href = "./detail?id="+thisobj.getAttribute('dataid');
    }

    function changedata(thisobj) {
        var startDate = document.getElementById('startDate').value;
        var endDate = document.getElementById('endDate').value;
        window.location.href = "./list?Date="+startDate+"_"+endDate;
    }
</script>
</body>
</html>
